body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #424242;
  font-size: 1em;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #0D47A1;
}

.slider.round:before {
  border-radius: 50%;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.speakText {
  padding: 12px 20px;
  border: 2px solid gray;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  border-right-style: none;
  font-size: 17px;
}

.speakButton  {
  background-color: #0D47A1;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 0px 10px 10px 0px;
}
